<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="{{site.url}}">Inicio</a>
            </li>
            <li>
                <a href="{{site.url}}/sucursales.html">Sucursales</a>
            </li>
            <li>
                <a href="{{site.url}}/productos.html">Productos</a>
            </li>
            <li>
                <a href="{{site.url}}/ofertas">Ofertas</a>
            </li>
        </ul>
    </nav>
<!--<h2>{{ site.title }}</h2>-->
    <img src="{{site.url}}/assets/img/logo.jpg" alt="Universidad de la Laguna">
    
</header>